*
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  -webkit-appearance: none
  outline: none

h1
  font-family: 'Roboto Mono', monospace
  color: white
  font-size: 61px
  line-height: 70px
  letter-spacing: -2px
  font-weight: 700
  margin-top: 40px

p
  &.subtitle
    font-family: 'Roboto Mono', monospace
    color: white
    font-size: 20px
    line-height: 30px
    letter-spacing: -1px
    margin-top: 30px
  &.footer
    font-family: 'Roboto Mono', monospace
    color: white
    font-size: 16px
    letter-spacing: -1px
    opacity: 0.5
    padding-top: 335px

a
  text-decoration: none
  color: inherit
  &:hover
    border-bottom: 2px solid #11C651

#mc_embed_signup_scroll
  display: inline-flex
  padding-top: 60px

input
  font-family: 'Roboto Mono', monospace
  border-radius: 4px
  font-size: 30px

input[type=email]
  width: 450px
  border: 2px solid #11C651
  background-color: #1A1A1A
  padding: 25px 28px
  margin-right: 10px
  color: white

input[type=submit]
  border: 0
  background-color: #11C651
  color: white
  padding: 25px 40px 28px
  transition: opacity .3s
  &:hover
    opacity: 0.7
    cursor: pointer


.left
  width: 820px
  background: #1A1A1A
  padding: 80px
  position: relative
  .dash
    background-color: white
    width: 30px
    height: 7px
    position: absolute
    left: 35px
    top: 266px
